.form_line
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form_block
{
    width: 250px;
    margin: 0 15px;
}
.form_label
{
    font-weight: 400;
    margin-bottom: 5px;
}
.form_input
{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #f39c12;
    outline: 0;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.form_input:focus
{
    border-color: rgb(0, 0, 0.7);
}
.form_btn
{
    margin-top: 20px;
    cursor: pointer;
}